body{
    background-color: rgb(24, 24, 28);

}

/* Title */
#title{
    color: antiquewhite;
    text-align: center;
    font-family: 'Sedgwick Ave Display', cursive ;
    font-style: italic;
    letter-spacing: 1px;
    font-size: 250%;
    padding-top: none;
    float: left;
    text-shadow: 0 0 6px black, 0 0 6px black, 0 0 6px black, 0 0 6px black;
}
#title:hover{
    text-shadow: 0px 0px 0px black, 0 0 25px rgb(8, 8, 8), 0 0 25px rgb(0, 0, 63);
    transition: all 300ms linear;
}
#nav{
    background-image: url("https://images.unsplash.com/photo-1651527567557-769ea053b0ab?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1332&q=80");
    height: 10vh;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-left: 2%;
    border-radius: 20px;
    background-repeat: no-repeat;
    background-size: cover;
}


/* Text Elements */
li{
    color: antiquewhite;
    font-size: 20px;
    top: 100px;
    padding: 10px;
    font-family: 'Fugaz One', cursive;


}
p{
    color: antiquewhite;
    font-size: 25px;
    text-align: center;
    padding-top: 100px ;
    font-family: 'Fugaz One', cursive;
    
}



/* Images */
#image-1{
    width: 95%;
    height: 200px;
    object-fit: cover;
    padding: 2%;
    border-radius: 35px;
 }
#image-2{
    width: 95%;
    height: 200px;
    object-fit: cover;
    padding: 2%;
    border-radius: 35px; 
    
   
}

/* Left */
#image-3{
    width: 45%;
    height: 250px;
    object-fit: cover;
    padding: 2%;
    border-radius: 45px;
}
/* Right */
#image-4{
    width: 45%;
    height: 250px;
    object-fit: cover;
    padding: 2%;
    border-radius: 45px;
    float: right;
}